{{define "messages.html"}}

<div class="main-content p-2">
    <div class="page-title">Private Messages</div>
    <div class="bg-notify border-0 rounded px-2 py-0 mx-2 text-center lh-sm mb-2 fw-bold">Here, you can view your order history. Your current orders are the orders that are not yet finalized, and the archived orders are the finalized orders where feedback has been left. Orders disappear from the panel 30 days after finalization.</div>
    <div class="bg-warning border-0 rounded px-2 py-0 mx-2 text-center lh-sm mb-2 fw-bold">Never accept direct deals outside Abacus Market. You will likely end up losing your money. Report through ticket any vendor asking you to continue the transaction through wickr or any other type of external method. If a vendor who does not have FE rights ask you to FE before receiving your product, report them too, probably they want to scam you.</div>
    <div class="border-0 d-flex justify-content-around">
        <a class="btn btn-outline-light active">Conversations</a>
        <a class="btn btn-outline-light">Orders</a>
        <a class="btn btn-outline-light">Trash</a>
        <a class="btn btn-outline-light">Invitation</a>
    </div>
</div>

{{end}}